<%- include('head') -%>
<%- include('navigation') -%>
<div class="container">
    <h2>Vakcina módosítás</h2>
    <form method="POST">
        <div class="form-group">
            <label>Gyártó:</label>
            <input class="form-control" placeholder="Adja meg vakcina gyártóját" value="<%= vakcina.gyarto %>" name="gyarto">
            <label>Generáció:</label>
            <input class="form-control" placeholder="Adja meg a vakcina generációját" value="<%= vakcina.generacio %>" name="generacio">
            <label>Darabszám:</label>
            <input class="form-control" placeholder="Adja meg a vakcina darabszámát" value="<%= vakcina.darabszam %>" name="darabszam">
        </div>
        <button type="submit" class="btn btn__color">Módosítás</button>
        <button onclick="location.href='/vaccine/<%= oltopont._id %>'" type="button" class="btn btn__color">Vissza</button>
    </form>
</div>
<%- include('footer') -%>