<%- include('head') -%>
<%- include('navigation') -%>
<div class="container">
    <h2>Oltópont módosítása</h2>
    <form>
        <div class="form-group">
            <label>Cím:</label>
            <input class="form-control" placeholder="Adja meg az oltópont címét" value="<%= (typeof oltopont === 'undefined') ? '' : oltopont.cim %>">
            <label>Telefonszám:</label>
            <input class="form-control" placeholder="Adja meg az oltópont telefonszámát" value="<%= (typeof oltopont === 'undefined') ? '' : oltopont.telefonszam %>">
            <label>Email:</label>
            <input class="form-control" placeholder="Adja meg az oltópont email címét" value="<%= (typeof oltopont === 'undefined') ? '' : oltopont.email %>">
            <label for="sel1">Hűtés:</label>
            <select class="form-control">
                <option>VAN</option>
                <option>NINCS</option>
            </select>
        </div>

        <a href="/vaccinationpoint" class="btn btn__color">Módosítás</a>
        <a href="/vaccinationpoint" class="btn btn__color">Vissza</a>
    </form>
</div>
<%- include('footer') -%>