<%- include('head') -%>
<%- include('navigation') -%>
<h2>Oltópontok</h2>
    <table class="table">
      <thead>
          <tr>
            <th scope="col">Cím</th>
            <th scope="col">Telefonszám</th>
            <th scope="col">Email</th>
            <th scope="col">Hűtés</th>
            <th></th>
          </tr>
      </thead>
      <tbody>
        <% oltopontok.forEach(function(oltopont) { %>
          <tr>
            <td><%= oltopont.cim %></td>
            <td><%= oltopont.telefonszam %></td>
            <td><%= oltopont.email %></td>
            <td><%= (oltopont.hutes === true) ? 'VAN' : 'NINCS' %></td>
            <td>
              <a href="/vaccine/<%= oltopont.id %>" class="btn btn__color" title="Vakcina hozzáadása"><i class='bx bxs-virus'></i></a>
              <a href="/vaccinationpoint/edit/<%= oltopont.id %>" class="btn btn__color" title="Oltópont módosítása"><i class='bx bx-edit'></i></a>
              <a href="/vaccinationpoint/delete/<%= oltopont.id %>" class="btn btn__color" title="Oltópont törlése"><i class='bx bx-trash' ></i></a>
            </td>
          </tr>
        <% }); %> 
      </tbody>
    </table>
    <a href="/vaccinationpoint/new" class="btn btn__color">Hozzáadás</a>
<%- include('footer') -%>