<%- include('head') -%>
<%- include('navigation_logout') -%>
<h2 style="margin: 1rem;">Oltópontok</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Cím</th>
            <th scope="col">Gyártó</th>
            <th scope="col">Darabszám</th>
        </tr>
    </thead>
    <tbody>
        <% publikus_informaciok.forEach(function(publikus_informacio) { %>
        <tr>
            <td><%= publikus_informacio.cim %></td>
            <td><%= publikus_informacio.gyarto %></td>
            <td><%= publikus_informacio.darabszam %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<%- include('footer') -%>