<%- include('head') -%>
<%- include('navigation') -%>
<h2>Vakcinák</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Gyártó</th>
            <th scope="col">Generáció</th>
            <th scope="col">Darabszám</th>
            <th scope="col"></th>
            <th></th>
          </tr>
        </thead>
        <% if (vakcinak.length !== 0) { %>
        <tbody>
          <% vakcinak.forEach(function(vakcina) { %>
            <tr>
              <td><%= vakcina.gyarto %></td>
              <td><%= vakcina.generacio %></td>
              <td><%= vakcina.darabszam %></td>
              <td>
                <a href="/vaccine/<%= oltopont._id %>/edit/<%= vakcina._id %>" class="btn btn__color" title="Vakcina módosítása"><i class='bx bx-edit'></i></a>
                <a href="/vaccine/<%= oltopont._id %>/delete/<%= vakcina._id %>" class="btn btn__color"><i class='bx bx-trash' title="Vakcina törlése"></i></a>
                <a href="/vaccine/<%= oltopont._id %>/increase/<%= vakcina._id %>" class="btn btn__color" title="Darabszám növelése"><i class='bx bx-plus-circle' ></i></a>
                <a href="/vaccine/<%= oltopont._id %>/decrease/<%= vakcina._id %>" class="btn btn__color" title="Darabszám csökkentése"><i class='bx bx-minus-circle' ></i></a>
              </td>
            </tr>
          <% }); %>
        </tbody>
        <% }else{ %>
          <span>Jelenleg nincs vakcina hozzárendelve az oltóponthoz!</span>
        <% } %>
    </table>
    <a href="/vaccine/<%= oltopont._id %>/new" class="btn btn__color">Hozzáadás</a>
    <a href="/vaccinationpoint" class="btn btn__color">Vissza</a>
<%- include('footer') -%>