<%- include('head') -%>
<%- include('navigation') -%>
<div class="container">
    <h2>Vakcina számának csökkentése</h2>
    <form method="POST">
        <div class="form-group">
            <label>Jelenlegi darabszám: <%= vakcina.darabszam %></label>
            <input class="form-control" placeholder="A megadott értékkel fog csökkenni a darabszám" name="darabszam">
        </div>
        <button href="/vaccine/<%= oltopont._id %>" type="submit" class="btn btn__color">Csökkentés</button>
        <button onclick="location.href='/vaccine/<%= oltopont._id %>'" type="button" class="btn btn__color">Vissza</button>
    </form>
</div>
<%- include('footer') -%>